@mainFont: Arial, sans-serif;
@headerBg: black;
@textLight: white;
@cardBg: blanchedalmond;
@accentgreen: green;
@borderLight: rgb(236, 236, 236);
@surveyBg: rgb(24, 78, 106);
@overviewBg: rgb(193, 114, 114);